<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Achiver2TrackingApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0736BA6D2B150C0300CE0287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0736BA842B150C0600CE0287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0736BA8E2B150C0600CE0287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
